## Data Set information

In the dataset  the hatespeech is labeled 1  and normal speech is labeled 0

In [1]:
import string 
import cufflinks as cf
import seaborn as sns
from plotly.offline import download_plotlyjs,init_notebook_mode,plot,iplot
%matplotlib inline
init_notebook_mode(connected=True)
cf.go_offline()
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import re
import nltk
from nltk.stem import PorterStemmer
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn import metrics
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn import tree
import warnings
warnings.filterwarnings("ignore")
from os import path
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

## Importing dataset

In [2]:
df =  pd.read_csv("data.csv")
df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [3]:
df.isnull().sum()

id       0
label    0
tweet    0
dtype: int64

In [4]:
df.shape

(31962, 3)

In [5]:
df['label'].unique()

array([0, 1], dtype=int64)

In [6]:
df['label'].value_counts()

0    29720
1     2242
Name: label, dtype: int64

In [7]:
df['label'].describe()

count    31962.000000
mean         0.070146
std          0.255397
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: label, dtype: float64

## Removing stop words

In [8]:
from sklearn.feature_extraction import text
print(text.ENGLISH_STOP_WORDS)

frozenset({'and', 'herein', 'which', 'anyone', 'off', 'least', 'nowhere', 'thus', 'well', 'thin', 'beforehand', 'thereupon', 'every', 'next', 'somehow', 'nor', 'about', 'ie', 'may', 'via', 'will', 'against', 'becomes', 'my', 're', 'at', 'or', 'fifteen', 'un', 'put', 'everyone', 'along', 'front', 'across', 'by', 'alone', 'in', 'ever', 'mill', 'often', 'perhaps', 'interest', 'until', 'were', 'co', 'others', 'bottom', 'beyond', 'beside', 'another', 'wherever', 'when', 'amoungst', 'couldnt', 'detail', 'none', 'whereas', 'side', 'both', 'was', 'the', 'for', 'see', 'him', 'de', 'there', 'towards', 'whatever', 'meanwhile', 'empty', 'twenty', 'nevertheless', 'he', 'under', 'above', 'her', 'we', 'inc', 'am', 'eleven', 'still', 'anyhow', 'found', 'not', 'to', 'etc', 'become', 'who', 'many', 'ltd', 'per', 'thereby', 'four', 'only', 'although', 'enough', 'namely', 'is', 'show', 'very', 'mostly', 'never', 'seeming', 'sometime', 'into', 'then', 'less', 'herself', 'on', 'a', 'your', 'over', 'fill', 'please', 'together', 'onto', 'through', 'before', 'must', 'sixty', 'again', 'cannot', 'because', 'down', 'fire', 'them', 'why', 'move', 'indeed', 'she', 'can', 'toward', 'anything', 'yourselves', 'becoming', 'yours', 'from', 'its', 'five', 'several', 'would', 'third', 'what', 'afterwards', 'should', 'ten', 'too', 'call', 'find', 'latterly', 'up', 'yet', 'hereafter', 'an', 'whereafter', 'have', 'between', 'give', 'since', 'more', 'eg', 'throughout', 'own', 'if', 'any', 'therefore', 'behind', 'so', 'themselves', 'might', 'hereupon', 'once', 'anyway', 'forty', 'during', 'this', 'whoever', 'otherwise', 'now', 'but', 'could', 'cant', 'no', 'few', 'that', 'while', 'all', 'system', 'neither', 'whither', 'besides', 'around', 'became', 'are', 'being', 'one', 'they', 'itself', 'hence', 'back', 'almost', 'himself', 'moreover', 'whole', 'done', 'after', 'cry', 'whenever', 'be', 'latter', 'those', 'sometimes', 'first', 'some', 'other', 'noone', 'it', 'out', 'full', 'seems', 'serious', 'has', 'eight', 'nobody', 'ours', 'yourself', 'everything', 'me', 'whereupon', 'made', 'been', 'former', 'with', 'last', 'top', 'ourselves', 'whether', 'these', 'amount', 'sincere', 'anywhere', 'go', 'much', 'their', 'nothing', 'among', 'thence', 'seemed', 'thru', 'twelve', 'myself', 'except', 'always', 'mine', 'describe', 'though', 'our', 'whom', 'con', 'you', 'either', 'name', 'something', 'elsewhere', 'his', 'as', 'below', 'else', 'part', 'already', 'amongst', 'wherein', 'everywhere', 'hers', 'most', 'even', 'same', 'therein', 'someone', 'than', 'formerly', 'somewhere', 'hundred', 'each', 'however', 'thereafter', 'without', 'two', 'due', 'us', 'take', 'seem', 'also', 'do', 'further', 'keep', 'hasnt', 'how', 'nine', 'here', 'thick', 'three', 'whereby', 'within', 'get', 'hereby', 'upon', 'had', 'such', 'rather', 'fifty', 'of', 'where', 'bill', 'whence', 'whose', 'six', 'i'})

In [9]:
stopwords = ['a', 'about', 'above', 'across', 'after', 'again', 'all', 'almost', 'along', 'already', 'also', 'although', 'always', 'am', 'among', 'amongst', 'amoungst', 'amount', 'an', 'and', 'another', 'any', 'anyhow', 'anyone', 'anything', 'anyway', 'anywhere', 'are', 'around', 'as', 'at', 'back', 'be', 'became', 'because', 'become', 'becomes', 'becoming', 'been', 'before', 'being', 'below', 'beside', 'besides', 'between', 'bill', 'both', 'but', 'by', 'call', 'can', 'co', 'con','de', 'describe', 'detail', 'each', 'eg', 'eight', 'either', 'eleven', 'else', 'elsewhere',  'etc', 'even', 'ever', 'every', 'everyone', 'everything', 'everywhere', 'he', 'hence', 'her', 'here', 'hereafter', 'hereby', 'herein', 'hereupon', 'hers', 'herself', 'him', 'himself', 'his', 'however', 'hundred', 'i', 'ie', 'if', 'in', 'inc', 'into', 'is', 'it', 'its', 'itself', 'ltd',  'nine', 'no', 'on', 'once', 'one', 'only', 'onto', 'or', 'other', 'others', 'otherwise', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 'part', 'per', 'perhaps', 'please', 'put', 'rather', 're', 'six', 'sixty', 'so', 'some', 'somehow', 'someone', 'something', 'sometime', 'sometimes', 'somewhere', 'ten', 'than', 'that', 'the', 'their', 'them', 'themselves', 'then', 'there', 'thereafter',  'therein', 'thereupon', 'these', 'they', 'thick', 'third', 'this', 'those', 'three', 'through', 'thru', 'to','too', 'twelve', 'twenty', 'two', 'un', 'up', 'upon', 'us', 'via', 'was', 'we',  'were',  'whereas', 'whereby', 'wherein', 'whereupon', 'wherever', 'whether', 'which', 'while', 'whither', 'who', 'whole', 'whom', 'whose', 'will', 'with', 'within', 'would', 'yet', 'you', 'your', 'yours', 'yourself', 'yourselves']

In [10]:
df['tweet'].apply(lambda x: len(x.split())).sum()

420579

In [11]:
print(f'Input data has {len(df)} rows, {len(df.columns)} columns')

Input data has 31962 rows, 3 columns

## Removing punctuations

In [12]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [13]:
def remove_punctuation(txt):
    txt_nopunct = "".join([c for c in txt if c not in string.punctuation])
    return txt_nopunct

In [14]:
df['msg_clean'] = df['tweet'].apply(lambda x:remove_punctuation(x))
df.head()

,id,label,tweet,msg_clean
0,1,0,@user when a father is dysfunctional and is s...,user when a father is dysfunctional and is so...
1,2,0,@user @user thanks for #lyft credit i can't us...,user user thanks for lyft credit i cant use ca...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in u...
4,5,0,factsguide: society now #motivation,factsguide society now motivation

## Tokenization

In [15]:
def tokenize(txt):
    tokens = re.split('\W+',txt)
    return tokens

df['msg_clean_tokenized'] = df['msg_clean'].apply(lambda x: tokenize(x.lower()))

df.head()

,id,label,tweet,msg_clean,msg_clean_tokenized
0,1,0,@user when a father is dysfunctional and is s...,user when a father is dysfunctional and is so...,"[, user, when, a, father, is, dysfunctional, a..."
1,2,0,@user @user thanks for #lyft credit i can't us...,user user thanks for lyft credit i cant use ca...,"[user, user, thanks, for, lyft, credit, i, can..."
2,3,0,bihday your majesty,bihday your majesty,"[, bihday, your, majesty]"
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in u...,"[model, i, love, u, take, with, u, all, the, t..."
4,5,0,factsguide: society now #motivation,factsguide society now motivation,"[, factsguide, society, now, motivation]"

In [16]:
def remove_stopwords(txt_tokenized):
    txt_clean = [word for word in txt_tokenized if word not in stopwords]
    return txt_clean

df['msz_no_stopwords'] = df['msg_clean_tokenized'].apply(lambda x: remove_stopwords(x))
df.head()

,id,label,tweet,msg_clean,msg_clean_tokenized,msz_no_stopwords
0,1,0,@user when a father is dysfunctional and is s...,user when a father is dysfunctional and is so...,"[, user, when, a, father, is, dysfunctional, a...","[, user, when, father, dysfunctional, selfish,..."
1,2,0,@user @user thanks for #lyft credit i can't us...,user user thanks for lyft credit i cant use ca...,"[user, user, thanks, for, lyft, credit, i, can...","[user, user, thanks, for, lyft, credit, cant, ..."
2,3,0,bihday your majesty,bihday your majesty,"[, bihday, your, majesty]","[, bihday, majesty]"
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in u...,"[model, i, love, u, take, with, u, all, the, t...","[model, love, u, take, u, time, urð, ð, ð, ð, ..."
4,5,0,factsguide: society now #motivation,factsguide society now motivation,"[, factsguide, society, now, motivation]","[, factsguide, society, now, motivation]"

##  Visualize the frequent word

all_words=" ".join ([sentence for sentence in df["msz_no_stopwords"]])
from wordcloud import WordCloud
wordcloud=WordCloud(width=800,height=500,random_state=42,max_font_size=100).generate(all_words)
plt.figure(figsize=(15,8))
plt.imshow(wordcloud,interpolation='bilinear')
plt.axis('off')
plt.show()

## Steamming

In [ ]:
ps=PorterStemmer()

def stemming(tokenized_txt):
    text = [ps.stem(word) for word in tokenized_txt]
    return text

In [ ]:
df['msg_stemmed'] = df['msz_no_stopwords'].apply(lambda x: stemming(x))
df.head()

## Lemmatization

In [ ]:
wn = nltk.WordNetLemmatizer()

def lemmatization(token_txt):
    text = [wn.lemmatize(word) for word in token_txt]
    return text

In [ ]:
df['msg_lemmatized'] = df['msz_no_stopwords'].apply(lambda x: lemmatization(x))
df.head()

In [ ]:
df['sentence']=df['msg_lemmatized'].apply(' '.join)
df.head()

## Data visualization

In [ ]:
sns.countplot(x='label',data=df)

In [ ]:
df.iplot()

In [ ]:
df.count().iplot(kind='bar')

## Linear SVC

In [ ]:
X=df['sentence']
y=df['label']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [ ]:
vectorizer = TfidfVectorizer()
X_train_tfvect = vectorizer.fit_transform(X_train)
X_train_tfvect.shape

In [ ]:
clf = LinearSVC()
clf.fit(X_train_tfvect,y_train)

In [ ]:
text_clf=Pipeline([('tfidf',TfidfVectorizer()),('clf',LinearSVC())])
text_clf.fit(X_train,y_train)

In [ ]:
predictions=text_clf.predict(X_test)

In [ ]:
from sklearn import metrics
print(metrics.confusion_matrix(y_test,predictions))

In [ ]:
print(metrics.classification_report(y_test,predictions))

## Multinomial Naive Bayes

In [ ]:
nb_model = MultinomialNB()

nb_model.fit(X_train_tfvect, y_train)

In [ ]:
text_clf=Pipeline([('tfidf',TfidfVectorizer()),('nb_model',MultinomialNB())])
text_clf.fit(X_train,y_train)

In [ ]:
predictions=text_clf.predict(X_test)

In [ ]:
from sklearn import metrics
print(metrics.confusion_matrix(y_test,predictions))

In [ ]:
print(metrics.classification_report(y_test,predictions))